- Course: **[DataCamp: Introduction to Relational Databases in SQL][2]**
- Notebook Author: [Trenton McKinney][1]
 - This notebook was created as a reproducible reference.
 - The material is from the course
 - I completed the exercises
 - I installed and configured a PostgreSQL database to run all the queries locally.

  [1]: https://trenton3983.github.io/
  [2]: https://www.datacamp.com/courses/introduction-to-relational-databases-in-sql

**Course Description**

You’ve already used SQL to query data from databases. But did you know that there's a lot more you can do with databases? You can model different phenomena in your data, as well as the relationships between them. This gives your data structure and consistency, which results in better data quality. In this course, you'll experience this firsthand by working with a real-life dataset that was used to investigate questionable university affiliations. Column by column, table by table, you'll get to unlock and admire the full potential of databases. You'll learn how to create tables and specify their relationships, as well as how to enforce data integrity. You'll also discover other unique features of database systems, such as constraints.

**Datasets**

**Imports**

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String
from sqlalchemy import inspect
from sqlalchemy.types import Text
import pandas as pd
from pprint import pprint as pp

**Pandas Configuration Options**

In [ ]:
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 300)
pd.set_option('display.expand_frame_repr', True)

**PostgreSQL Connection**

- In order to run this Notebook, [install][1], setup and configure a PostgreSQL database with the previously mentioned datasets.
- Edit `engine` to use your database username and password.

  [1]: https://www.postgresql.org/download/

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost/postgres')

In [ ]:
conn = engine.connect()

## Create the `university_professors` table

**Create an empty table with `conn`**

In [ ]:
conn.execute(' \
CREATE TABLE uni.university_professors ( \
  "firstname" text, \
  "lastname" text, \
  "university" text, \
  "university_shortname" text, \
  "university_city" text, \
  "function" text, \
  "organization" text, \
  "organization_sector" text \
);')

**Create the filled table from pandas**

In [ ]:
uni_prof = pd.read_excel('data/2019-12-13_intro_to_relational_databases/university_professors.xlsx')

In [ ]:
uni_prof.head()

In [ ]:
_dtypes = {'firstname': Text(), 'lastname': Text(), 'university': Text(), 'university_shortname': Text(),
           'university_city': Text(), 'function': Text(), 'organization': Text(), 'organization_sector': Text()}

In [ ]:
uni_prof.to_sql('university_professors', con=engine, schema='uni', index=False, if_exists='replace', dtype=_dtypes)

# Your first database

In this chapter, you'll create your very first database with a set of simple SQL commands. Next, you'll migrate data from existing flat tables into that database. You'll also learn how meta-information about a database can be queried.

## Introduction to relational databases

### Attributes of relational databases

In the video, we talked about some basic facts about relational databases. Which of the following statements does not hold true for databases? Relational databases ...

**Possible Answers**

* __**... store different real-world entities in different tables.**__
* ~~... allow to establish relationships between entities.~~
* ~~... are called "relational" because they store data only about people.~~
* ~~... use constraints, keys and referential integrity in order to assure data quality.~~

### Query information_schema with `SELECT`

`information_schema` is a meta-database that holds information about your current database. `information_schema` has multiple tables you can query with the known `SELECT * FROM` syntax:

* `tables`: information about all tables in your current database
* `columns`: information about all columns in all of the tables in your current database
* ...

In this exercise, you'll only need information from the `'public'` schema, which is specified as the column `table_schema` of the `tables` and `columns` tables. The `'public'` schema holds information about user-defined tables and databases. The other types of `table_schema` hold system information - for this course, you're only interested in user-defined stuff.

**Instructions 1/4**

* Get information on all table names in the current database, while limiting your query to the `'public'` `table_schema`.

```sql
-- Query the right table in information_schema
SELECT table_name 
FROM information_schema.tables
-- Specify the correct table_schema value
WHERE table_schema = 'public';
```

In [ ]:
stmt = "\
SELECT table_name \
FROM information_schema.tables \
WHERE table_schema = 'uni'; \
"
res = conn.execute(stmt)
res.fetchall()

**Instructions 2/4**

* Now have a look at the columns in `university_professors` by selecting all entries in `information_schema.columns` that correspond to that table.

```sql
-- Query the right table in information_schema to get columns
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'university_professors' AND table_schema = 'public';
```

In [ ]:
stmt = "\
SELECT column_name, data_type \
FROM information_schema.columns \
WHERE table_name = 'university_professors' AND table_schema = 'uni'; \
"
res = conn.execute(stmt)
res.fetchall()

**Instructions 3/4**

How many columns does the table university_professors have?

**Possible Answers**

* ~~12~~
* ~~9~~
* __**8**__
* ~~5~~

**Instructions 4/4**

* Finally, print the first five rows of the `university_professors` table.

```sql
-- Query the first five rows of our table
SELECT * 
FROM university_professors 
LIMIT 5;
```

In [ ]:
stmt = "\
SELECT * \
FROM uni.university_professors \
LIMIT 5; \
"

pd.read_sql(stmt, conn)

## Tables: At the core of every database

### `CREATE` your first few `TABLE`s

You'll now start implementing a better database model. For this, you'll create tables for the `professors` and `universities` entity types. The other tables will be created for you.

The syntax for creating simple tables is as follows:

```sql
CREATE TABLE table_name (
 column_a data_type,
 column_b data_type,
 column_c data_type
);
```

*Attention*: Table and columns names, as well as data types, don't need to be surrounded by quotation marks.

**Instructions 1/2**

* Create a table `professors` with two `text` columns: `firstname` and `lastname`.

```sql
-- Create a table for the professors entity type
CREATE TABLE professors (
 firstname text,
 lastname text
);

-- Print the contents of this table
SELECT * 
FROM professors
```

In [ ]:
stmt = "\
CREATE TABLE uni.professors ( \
 firstname text, \
 lastname text \
); \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.professors \
"

pd.read_sql(stmt, conn)

**Instructions 2/2**

* Create a table `universities` with three text columns: `university_shortname`, `university`, and `university_city`.

```sql
-- Create a table for the universities entity type
CREATE TABLE universities (
university_shortname text,
university text,
university_city text);

-- Print the contents of this table
SELECT * 
FROM universities
```

In [ ]:
stmt = "\
CREATE TABLE uni.universities ( \
university_shortname text, \
university text, \
university_city text); \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.universities \
"

pd.read_sql(stmt, conn)

### `ADD` a `COLUMN` with `ALTER TABLE`

We forgot to add the `university_shortname` column to the `professors` table. You've probably already noticed:

In chapter 4 of this course, you'll need this column for connecting the `professors` table with the `universities` table.

However, adding columns to existing tables is easy, especially if they're still empty.

To add columns you can use the following SQL query:

```sql
ALTER TABLE table_name
ADD COLUMN column_name data_type;
```

**Instructions**

* Alter professors to add the text column university_shortname.

```sql
-- Add the university_shortname column
ALTER TABLE professors
ADD COLUMN university_shortname text;

-- Print the contents of this table
SELECT * 
FROM professors
```

In [ ]:
stmt = "\
ALTER TABLE uni.professors \
ADD COLUMN university_shortname text; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.professors \
"

pd.read_sql(stmt, conn)

## Update your database as the structure changes

**Create the `affiliations` table**

```sql
CREATE TABLE affiliations (
 firstname text,
 lastname text,
 university_shortname text,
 function text,
 organisation text
);
```

In [ ]:
stmt = "\
CREATE TABLE uni.affiliations ( \
 firstname text, \
 lastname text, \
 university_shortname text, \
 function text, \
 organisation text \
); \
"
conn.execute(stmt)

**Create the `organizations` table**

```sql
CREATE TABLE organizations (
 organization text,
 organization_sector text
);
```

In [ ]:
stmt = "\
CREATE TABLE uni.organizations ( \
 organization text, \
 organization_sector text \
); \
"
conn.execute(stmt)

### `RENAME` and `DROP COLUMN`s in affiliations

As mentioned in the video, the still empty affiliations table has some flaws. In this exercise, you'll correct them as outlined in the video.

You'll use the following queries:

To rename columns:
```sql
ALTER TABLE table_name
RENAME COLUMN old_name TO new_name;
```
To delete columns:
```sql
ALTER TABLE table_name
DROP COLUMN column_name;
```

**Instructions 1/2**

* Rename the `organisation` column to `organization` in `affiliations`.

```sql
-- Rename the organisation column
ALTER TABLE affiliations
RENAME COLUMN organisation TO organization;
```

In [ ]:
stmt = "\
ALTER TABLE uni.affiliations \
RENAME COLUMN organisation TO organization; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.affiliations \
"

pd.read_sql(stmt, conn)

**Instructions 2/2**

* Delete the `university_shortname` column in `affiliations`.

```sql
-- Delete the university_shortname column
ALTER TABLE affiliations
DROP COLUMN university_shortname;
```

In [ ]:
stmt = "\
ALTER TABLE uni.affiliations \
DROP COLUMN university_shortname; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.affiliations \
"

pd.read_sql(stmt, conn)

### Migrate date with `INSERT INTO SELECT DISTINCT`

Now it's finally time to migrate the data into the new tables. You'll use the following pattern:
```sql
INSERT INTO ... 
SELECT DISTINCT ... 
FROM ...;
```
It can be broken up into two parts:

*First* part:
```sql
SELECT DISTINCT column_name1, column_name2, ... 
FROM table_a;
```
This selects all distinct values in table `table_a` - nothing new for you.

*Second* part:
```sql
INSERT INTO table_b ...;
```
Take this part and append it to the first, so it inserts all distinct rows from `table_a` into `table_b`.

**One last thing**: It is important that you run all of the code at the same time once you have filled out the blanks.

**Instructions 1/2**

* Insert all `DISTINCT` professors from `university_professors` into `professors`.
* Print all the rows in `professors`.

```sql
-- Insert unique professors into the new table
INSERT INTO professors 
SELECT DISTINCT firstname, lastname, university_shortname 
FROM university_professors;

-- Doublecheck the contents of professors
SELECT * 
FROM professors;
```

In [ ]:
stmt = "\
INSERT INTO uni.professors \
SELECT DISTINCT firstname, lastname, university_shortname \
FROM uni.university_professors; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.professors \
"

pd.read_sql(stmt, conn)

**Instructions 2/2**

* Insert all `DISTINCT` affiliations into `affiliations` from `university_professors`.

```sql
-- Insert unique affiliations into the new table
INSERT INTO affiliations 
SELECT DISTINCT firstname, lastname, function, organization 
FROM university_professors;

-- Doublecheck the contents of affiliations
SELECT * 
FROM affiliations;
```

In [ ]:
stmt = "\
INSERT INTO uni.affiliations \
SELECT DISTINCT firstname, lastname, function, organization \
FROM uni.university_professors; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.affiliations \
"

pd.read_sql(stmt, conn)

**Migrate data to the `universities` and `organizations` tables***

In [ ]:
stmt = "\
INSERT INTO uni.universities \
SELECT DISTINCT university_shortname, university, university_city \
FROM uni.university_professors; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.universities \
"

pd.read_sql(stmt, conn)

In [ ]:
stmt = "\
INSERT INTO uni.organizations \
SELECT DISTINCT organization, organization_sector \
FROM uni.university_professors; \
"
conn.execute(stmt)

stmt = "\
SELECT *  \
FROM uni.organizations \
"

pd.read_sql(stmt, conn)

### Delete tables with `DROP TABLE`

The `university_professors` table is now no longer needed and can safely be deleted.

For table deletion, you can use the simple command:
```sql
DROP TABLE table_name;
```
**Instructions**

* Delete the university_professors table.

```sql
-- Delete the university_professors table
DROP TABLE university_professors;
```

# Enforce data consistency with attribute constraints

After building a simple database, it's now time to make use of the features. You'll specify data types in columns, enforce column uniqueness, and disallow NULL values in this chapter.

## Better data quality with constraints

- The idea of a database is to push data into a certain structure - a predefined model, where you enforce data types, relationships and other rules.
 - These rules are called integrity constraints, although different names exist.

**Integrity Constrains**

1. **Attribute constraints**: data types on columns (Ch 2)
 * A certain attribute, represented through a database column, could have the integer data type, allowing only integers to be stored in the column.
1. **Key constraints**: primary keys (Ch 3)
 * Primary keys, for example, uniquely identify each record, or row, of a database table.
1. **Referential integrity constraints**: enforced through foreign keys (Ch 4)
 * They glue different database tables together.

**Why should you know about constraints?**

* Constraints give the data structure
 * With good constraints in place, people who type in birthdates, for example, have to always enter them in the same form.
 * Data entered by humans is often very tedious to pre-process.
* Constraints help with consistency, and thus improve data quality.
* Data quality is a business advantage / data science prerequisite.
* Enforcing constraints on human-entered data is difficult and tedious, but PostgreSQL helps.

**Data types as attribute constaints**

| Name                                    | Aliases            | Description                                        |
|-----------------------------------------|--------------------|----------------------------------------------------|
| bigint                                  | int8               | signed eight-byte integer                          |
| bigserial                               | serial8            | autoincrementing eight-byte integer                |
| bit [ (n) ]                             |                    | fixed-length bit string                            |
| bit varying [ (n) ]                     | varbit [ (n) ]     | variable-length bit string                         |
| boolean                                 | bool               | logical Boolean (true/false)                       |
| box                                     |                    | rectangular box on a plane                         |
| bytea                                   |                    | binary data (“byte array”)                         |
| character [ (n) ]                       | char [ (n) ]       | fixed-length character string                      |
| character varying [ (n) ]               | varchar [ (n) ]    | variable-length character string                   |
| cidr                                    |                    | IPv4 or IPv6 network address                       |
| circle                                  |                    | circle on a plane                                  |
| date                                    |                    | calendar date (year, month, day)                   |
| double precision                        | float8             | double precision floating-point number (8 bytes)   |
| inet                                    |                    | IPv4 or IPv6 host address                          |
| integer                                 | int, int4          | signed four-byte integer                           |
| interval [ fields ] [ (p) ]             |                    | time span                                          |
| json                                    |                    | textual JSON data                                  |
| jsonb                                   |                    | binary JSON data, decomposed                       |
| line                                    |                    | infinite line on a plane                           |
| lseg                                    |                    | line segment on a plane                            |
| macaddr                                 |                    | MAC (Media Access Control) address                 |
| macaddr8                                |                    | MAC (Media Access Control) address (EUI-64 format) |
| money                                   |                    | currency amount                                    |
| numeric [ (p, s) ]                      | decimal [ (p, s) ] | exact numeric of selectable precision              |
| path                                    |                    | geometric path on a plane                          |
| pg_lsn                                  |                    | PostgreSQL Log Sequence Number                     |
| point                                   |                    | geometric point on a plane                         |
| polygon                                 |                    | closed geometric path on a plane                   |
| real                                    | float4             | single precision floating-point number (4 bytes)   |
| smallint                                | int2               | signed two-byte integer                            |
| smallserial                             | serial2            | autoincrementing two-byte integer                  |
| serial                                  | serial4            | autoincrementing four-byte integer                 |
| text                                    |                    | variable-length character string                   |
| time [ (p) ] [ without time zone ]      |                    | time of day (no time zone)                         |
| time [ (p) ] with time zone             | timetz             | time of day, including time zone                   |
| timestamp [ (p) ] [ without time zone ] |                    | date and time (no time zone)                       |
| timestamp [ (p) ] with time zone        | timestamptz        | date and time, including time zone                 |
| tsquery                                 |                    | text search query                                  |
| tsvector                                |                    | text search document                               |
| txid_snapshot                           |                    | user-level transaction ID snapshot                 |
| uuid                                    |                    | universally unique identifier                      |
| xml                                     |                    | XML data                                           |

* From [PostgreSQL documentation][1]
* In its simplest form, attribute constraints are data types that can be specified for each column of a table.

**Dealing with data types (casting)

* Data types also restrict possible SQL operations on the stored data.
```sql
CREATE TABLE weather (
 temperature integer,
 wind_speed text);
 
SELECT temperature * wind_speed AS wind_chill
FROM weather;

operator does not exist: integer * text
HINT: No operator matches the given name and argument type(s). 
You might need to add explicit type casts.

SELECT temperature * CAST(wind_speed AS integer) AS wind_chill
FROM weather;
```
* For example, it's impossible to calculate a product from an integer **and** a text column, as shown here in the example.
 * The text column `wind_speed` may store numbers, but PostgreSQL doesn't know how  to use text in a calculation.
 * The solution for this is type casts, that is, on-the-fly type conversions.
 * In this case, you can use the `CAST` function, followed by the column name, the `AS` keyword, and the desired data type.  PostgreSQL will run `wind_speed` into an integer before the calculation.

  [1]: https://www.postgresql.org/docs/10/datatype.html

### Types of database constraints

Which of the following **is not used** to enforce a database constraint?

**Possible Answers**

* ~~Foreign keys~~
* __**SQL aggregate functions**__
* ~~The BIGINT data type~~
* ~~Primary keys~~

### Conforming with data types

For demonstration purposes, I created a fictional database table that only holds three records. The columns have the data types `date`, `integer`, and `text`, respectively.
```sql
CREATE TABLE transactions (
 transaction_date date, 
 amount integer,
 fee text
);
```

| transaction_date | amount | fee |
|------------------|--------|-----|
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |
| 2018-09-24       | 5454   | 30  |
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |
| 2018-09-24       | 5454   | 30  |
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |

Have a look at the contents of the `transactions` table.

The `transaction_date` accepts `date` values. According to [the PostgreSQL documentation][1], it accepts values in the form of `YYYY-MM-DD`, `DD/MM/YY`, and so forth.

Both columns `amount` and `fee` appear to be numeric, however, the latter is modeled as `text` - which you will account for in the next exercise.

**Instructions**

* Execute the given sample code.
* As it doesn't work, have a look at the error message and correct the statement accordingly - then execute it again.

```sql
-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-24-09', 5454, '30');

-- Doublecheck the contents
SELECT *
FROM transactions;

date/time field value out of range: "2018-24-09"
LINE 3: VALUES ('2018-24-09', 5454, '30');
                ^
HINT:  Perhaps you need a different "datestyle" setting.
```


  [1]: https://www.postgresql.org/docs/10/datatype-datetime.html#DATATYPE-DATETIME-INPUT

```sql
-- Let's add a record to the table
INSERT INTO transactions (transaction_date, amount, fee) 
VALUES ('2018-09-24', 5454, '30');

-- Doublecheck the contents
SELECT *
FROM transactions;
```

| transaction_date | amount | fee |
|------------------|--------|-----|
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |
| 2018-09-24       | 5454   | 30  |
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |
| 2018-09-24       | 5454   | 30  |
| 1999-01-08       | 500    | 20  |
| 2001-02-20       | 403    | 15  |
| 2001-03-20       | 3430   | 35  |
| 2018-09-24       | 5454   | 30  |

### Type `CAST`s

In the video, you saw that type casts are a possible solution for data type issues. If you know that a certain column stores numbers as `text`, you can cast the column to a numeric form, i.e. to `integer`.

```sql
SELECT CAST(some_column AS integer)
FROM table;
```

Now, the `some_column` column is temporarily represented as `integer` instead of `text`, meaning that you can perform numeric calculations on the column.

**Instructions**

* Execute the given sample code.
* As it doesn't work, add an `integer` type cast at the right place and execute it again.

```sql
-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + fee AS net_amount 
FROM transactions;

operator does not exist: integer + text
LINE 2: SELECT transaction_date, amount + fee AS net_amount 
                                        ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.
```

```sql
-- Calculate the net amount as amount + fee
SELECT transaction_date, amount + CAST(fee AS integer) AS net_amount 
FROM transactions;
```

| transaction_date | net_amount |
|------------------|------------|
| 1999-01-08       | 520        |
| 2001-02-20       | 418        |
| 2001-03-20       | 3465       |
| 2018-09-24       | 5484       |

## Working with data types

### Change types with `ALTER COLUMN`

The syntax for changing the data type of a column is straightforward. The following code changes the data type of the `column_name` column in `table_name` to `varchar(10)`:
```sql
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(10)
```
Now it's time to start adding constraints to your database.

**Instructions 1/3**

* Have a look at the distinct `university_shortname` values in the `professors` table and take note of the length of the strings.

**Instruction 2/3**

* Now specify a fixed-length character type with the correct length for `university_shortname`.

**Instructions 3/3**

* Change the type of the `firstname` column to `archar(64)`.

### Convert types USING a function

If you don't want to reserve too much space for a certain `varchar` column, you can truncate the values before converting its type.

For this, you can use the following syntax:
```sql
ALTER TABLE table_name
ALTER COLUMN column_name
TYPE varchar(x)
USING SUBSTRING(column_name FROM 1 FOR x)
```
You should read it like this: Because you want to reserve only `x` characters for `column_name`, you have to retain a `SUBSTRING` of every value, i.e. the first `x` characters of it, and throw away the rest. This way, the values will fit the `varchar(x)` requirement.

**Instructions**

* Run the sample code as is and take note of the error.
* Now use `SUBSTRING()` to reduce `firstname` to 16 characters so its type can be altered to `varchar(16)`.

## The not-null and unique constraints

### Disallow `NUL`L values with `SET NOT NULL`

The `professors` table is almost ready now. However, it still allows for `NULL`s to be entered. Although some information might be missing about some professors, there's certainly columns that always need to be specified.

**Instructions 1/2**

* Add a not-null constraint for the `firstname` column.

**Instructions 2/2**

* Add a not-null constraint for the `lastname` column.

### What happens if you try to enter NULLs?

Execute the following statement:
```sql
INSERT INTO professors (firstname, lastname, university_shortname)
VALUES (NULL, 'Miller', 'ETH');
```
Why does this throw an error?

*** Possible Answers*** 

* Professors without first names do not exist.
* Because a database constraint is violated.
* Error? This works just fine.
* `NULL` is not put in quotes.

### Make your columns UNIQUE with ADD CONSTRAINT

As seen in the video, you add the `UNIQUE` keyword after the `column_name` that should be unique. This, of course, only works for new tables:
```sql
CREATE TABLE table_name (
 column_name UNIQUE
);
```
If you want to add a unique constraint to an existing table, you do it like that:
```sql
ALTER TABLE table_name
ADD CONSTRAINT some_name UNIQUE(column_name);
```
Note that this is different from the `ALTER COLUMN` syntax for the not-null constraint. Also, you have to give the constraint a name `some_name`.

**Instructions 1/2**

* Add a unique constraint to the `university_shortname` column in `universities`. Give it the name `university_shortname_unq`.

**Instructions 2/2**

* Add a unique constraint to the `organization` column in `organizations`. Give it the name `organization_unq`.

In [ ]:
conn.close()

# Uniquely identify records with key constraints

Now let's get into the best practices of database engineering. It's time to add primary and foreign keys to the tables. These are two of the most important concepts in databases, and are the building blocks you'll use to establish relationships between tables.

## Keys and superkeys

### Get to know `SELECT COUNT DISTINCT`

Your database doesn't have any defined keys so far, and you don't know which columns or combinations of columns are suited as keys.

There's a simple way of finding out whether a certain column (or a combination) contains only unique values - and thus identifies the records in the table.

You already know the `SELECT DISTINCT` query from the first chapter. Now you just have to wrap everything within the `COUNT()` function and PostgreSQL will return the number of unique rows for the given columns:
```sql
SELECT COUNT(DISTINCT(column_a, column_b, ...))
FROM table;
```
**Instructions 1/2**

* First, find out the number of rows in `universities`.

**Instructions 2/2**

* Then, find out how many unique values there are in the `university_city` column.

### Identify keys with `SELECT COUNT DISTINCT`

There's a very basic way of finding out what qualifies for a key in an existing, populated table:

1. Count the distinct records for all possible combinations of columns. If the resulting number `x` equals the number of all rows in the table for a combination, you have discovered a superkey.

1. Then remove one column after another until you can no longer remove columns without seeing the number `x` decrease. If that is the case, you have discovered a (candidate) key.

The table `professors` has 551 rows. It has only one possible candidate key, which is a combination of two attributes. You might want to try different combinations using the "Run code" button. Once you have found the solution, you can submit your answer.

**Instructions**

* Using the above steps, identify the *candidate key* by trying out different combination of columns.

## Primary keys

### Identify the primary key

Have a look at the example table from the previous video. As the database designer, you have to make a wise choice as to which column should be the primary key.

```
     license_no     | serial_no |    make    |  model  | year
--------------------+-----------+------------+---------+------
 Texas ABC-739      | A69352    | Ford       | Mustang |    2
 Florida TVP-347    | B43696    | Oldsmobile | Cutlass |    5
 New York MPO-22    | X83554    | Oldsmobile | Delta   |    1
 California 432-TFY | C43742    | Mercedes   | 190-D   |   99
 California RSK-629 | Y82935    | Toyota     | Camry   |    4
 Texas RSK-629      | U028365   | Jaguar     | XJS     |    4
```

Which of the following column or column combinations could best serve as primary key?

**Possible Answers**

* PK = {make}
* PK = {model, year}
* PK = {license_no}
* PK = {year, make}

### `ADD` key `CONSTRAINT`s to the tables

Two of the tables in your database already have well-suited candidate keys consisting of one column each: `organizations` and `universities` with the `organization` and `university_shortname` columns, respectively.

In this exercise, you'll rename these columns to `id` using the `RENAME COLUMN` command and then specify primary key constraints for them. This is as straightforward as adding unique constraints (see the last exercise of Chapter 2):
```sql
ALTER TABLE table_name
ADD CONSTRAINT some_name PRIMARY KEY (column_name)
```
Note that you can also specify more than one column in the brackets.

**Instructions 1/2**

* Rename the `organization` column to `id` in `organizations`.
* Make `id` a primary key and name it `organization_pk`.

**Instructions 2/2**

* Rename the `university_shortname` column to `id` in `universities`.
* Make `id` a primary key and name it `university_pk`.

## Surrogate keys

### Add a `SERIAL` surrogate key

Since there's no single column candidate key in `professors` (only a composite key candidate consisting of `firstname`, `lastname`), you'll add a new column `id` to that table.

This column has a special data type `serial`, which turns the column into an auto-incrementing number. This means that, whenever you add a new professor to the table, it will automatically get an `id` that does not exist yet in the table: a perfect primary key!

**Instructions 1/3**

* Add a new column `id` with data type `serial` to the `professors` table.

**Instructions 2/3**

**Instructions 3/3**

### `CONCAT`enate columns to a surrogate key

Another strategy to add a surrogate key to an existing table is to concatenate existing columns with the `CONCAT()` function.

Let's think of the following example table:
```sql
CREATE TABLE cars (
 make varchar(64) NOT NULL,
 model varchar(64) NOT NULL,
 mpg integer NOT NULL
)
```
The table is populated with **10** rows of *completely fictional* data.

Unfortunately, the table doesn't have a primary key yet. None of the columns consists of only unique values, so some columns can be combined to form a key.

In the course of the following exercises, you will combine `make` and `model` into such a surrogate key.

**Instructions 1/4**

* Count the number of distinct rows with a combination of the `make` and `model` columns.

**Instructions 2/4**

**Instructions 3/4**

**Instructions 4/4**

### Test your knowledge before advancing

Before you move on to the next chapter, let's quickly review what you've learned so far about attributes and key constraints. If you're unsure about the answer, please quickly review chapters 2 and 3, respectively.

Let's think of an entity type "student". A student has:

* a *last name* consisting of up to 128 characters (this cannot contain a missing value),
* a unique *social security number* of length 9, consisting only of integers,
* a *phone number* of fixed length 12, consisting of numbers and characters (but some students don't have one).

**Instructions**

* Given the above description of a student entity, create a table `students` with the correct column types.
* Add a `PRIMARY KEY` for the social security number `ssn`.
* Note that there is no formal length requirement for the integer column. The application would have to make sure it's a correct SSN!

# Glue together tables with foreign keys

In the final chapter, you'll leverage foreign keys to connect tables and establish relationships that will greatly benefit your data quality. And you'll run ad hoc analyses on your new database.

## Model 1:N relationships with foreign keys

### REFERENCE a table with a FOREIGN KEY

In your database, you want the professors table to reference the universities table. You can do that by specifying a column in professors table that references a column in the universities table.

As just shown in the video, the syntax for that looks like this:

```sql
ALTER TABLE a 
ADD CONSTRAINT a_fkey FOREIGN KEY (b_id) REFERENCES b (id);
```

Table a should now refer to table b, via b_id, which points to id. a_fkey is, as usual, a constraint name you can choose on your own.

Pay attention to the naming convention employed here: Usually, a foreign key referencing another primary key with name id is named x_id, where x is the name of the referencing table in the singular form.

**Instructions 1/2**

* Rename the `university_shortname` column to `university_id` in `professors`.

**Instructions 2/2**

### Explore foreign key constraints

Foreign key constraints help you to keep order in your database mini-world. In your database, for instance, only professors belonging to Swiss universities should be allowed, as only Swiss universities are part of the universities table.

The foreign key on professors referencing universities you just created thus makes sure that only existing universities can be specified when inserting new data. Let's test this!

**Instructions**

* Run the sample code and have a look at the error message.
* What's wrong? Correct the university_id so that it actually reflects where Albert Einstein wrote his dissertation and became a professor – at the University of Zurich (UZH)!

### JOIN tables linked by a foreign key

Let's join these two tables to analyze the data further!

You might already know how SQL joins work from the Intro to SQL for Data Science course (last exercise) or from Joining Data in PostgreSQL.

Here's a quick recap on how joins generally work:

```sql
SELECT ...
FROM table_a
JOIN table_b
ON ...
WHERE ...
```

While foreign keys and primary keys are not strictly necessary for join queries, they greatly help by telling you what to expect. For instance, you can be sure that records referenced from table A will always be present in table B – so a join from table A will always find something in table B. If not, the foreign key constraint would be violated.

**Instructions**

* JOIN professors with universities on professors.university_id = universities.id, i.e., retain all records where the foreign key of professors is equal to the primary key of universities.
* Filter for university_city = 'Zurich'.

## Model more complex relationships

### Add foreign keys to the "affiliations" table

At the moment, the affiliations table has the structure {`firstname`, `lastname`, `function`, `organization`}, as you can see in the preview at the bottom right. In the next three exercises, you're going to turn this table into the form {`professor_id`, `organization_id`, `function`}, with professor_id and organization_id being foreign keys that point to the respective tables.

You're going to transform the affiliations table in-place, i.e., without creating a temporary table to cache your intermediate results.

**Instructions 1/3**

* Add a professor_id column with integer data type to affiliations, and declare it to be a foreign key that references the id column in professors.

**Instructions 2/3**

**Instructions 3/3**

### Populate the "professor_id" column

Now it's time to also populate professors_id. You'll take the ID directly from professors.

Here's a way to update columns of a table based on values in another table:

```sql
UPDATE table_a
SET column_to_update = table_b.column_to_update_from
FROM table_b
WHERE condition1 AND condition2 AND ...;
```

This query does the following:

1. For each row in table_a, find the corresponding row in table_b where condition1, condition2, etc., are met.
2. Set the value of column_to_update to the value of column_to_update_from (from that corresponding row).

The conditions usually compare other columns of both tables, e.g. table_a.some_column = table_b.some_column. Of course, this query only makes sense if there is only one matching row in table_b.

**Instructions 1/3**

* First, have a look at the current state of affiliations by fetching 10 rows and all columns.

**Instructions 2/3**

**Instructions 3/3**

### Drop "firstname" and "lastname"

The firstname and lastname columns of affiliations were used to establish a link to the professors table in the last exercise – so the appropriate professor IDs could be copied over. This only worked because there is exactly one corresponding professor for each row in affiliations. In other words: {firstname, lastname} is a candidate key of professors – a unique combination of columns.

It isn't one in affiliations though, because, as said in the video, professors can have more than one affiliation.

Because professors are referenced by professor_id now, the firstname and lastname columns are no longer needed, so it's time to drop them. After all, one of the goals of a database is to reduce redundancy where possible.

**Instructions**

* Drop the firstname and lastname columns from the affiliations table.

## Referential integrity

### Referential integrity violations

Given the current state of your database, what happens if you execute the following SQL statement?

```sql
DELETE FROM universities WHERE id = 'EPF';
```

**Possible Answers**

* It throws an error because the university with ID "EPF" does not exist.
* The university with ID "EPF" is deleted.
* It fails because referential integrity from universities to professors is violated.
* It fails because referential integrity from professors to universities is violated.

### Change the referential integrity behavior of a key

So far, you implemented three foreign key constraints:

1. professors.university_id to universities.id
1. affiliations.organization_id to organizations.id
1. affiliations.professor_id to professors.id

These foreign keys currently have the behavior ON DELETE NO ACTION. Here, you're going to change that behavior for the column referencing organizations from affiliations. If an organization is deleted, all its affiliations (by any professor) should also be deleted.

Altering a key constraint doesn't work with ALTER COLUMN. Instead, you have to delete the key constraint and then add a new one with a different ON DELETE behavior.

For deleting constraints, though, you need to know their name. This information is also stored in information_schema.

**Instructions 1/4**

* Have a look at the existing foreign key constraints by querying table_constraints in information_schema.

```sql
-- Identify the correct constraint name
SELECT constraint_name, table_name, constraint_type
FROM information_schema.___
WHERE constraint_type = 'FOREIGN KEY';
```

**Instructions 2/4**

**Instructions 3/4**

**Instructions 4/4**

## Roundup

### Count affiliations per university

Now that your data is ready for analysis, let's run some exemplary SQL queries on the database. You'll now use already known concepts such as grouping by columns and joining tables.

In this exercise, you will find out which university has the most affiliations (through its professors). For that, you need both affiliations and professors tables, as the latter also holds the university_id.

As a quick repetition, remember that joins have the following structure:

```sql
SELECT table_a.column1, table_a.column2, table_b.column1, ... 
FROM table_a
JOIN table_b 
ON table_a.column = table_b.column
```

This results in a combination of table_a and table_b, but only with rows where table_a.column is equal to table_b.column.

**Instructions**

* Count the number of total affiliations by university.
* Sort the result by that count, in descending order.


```sql
-- Count the total number of affiliations per university
SELECT ___(*), professors.university_id 
FROM ___
JOIN ___
ON affiliations.professor_id = professors.id
-- Group by the ids of professors
GROUP BY professors.___ 
___ ___ count DESC;
```

### Join all the tables together

In this last exercise, you will find the university city of the professor with the most affiliations in the sector "Media & communication".

For this, you need to join all the tables, group by a column, and then use selection criteria to get only the rows in the correct sector.

**Instructions 1/3**

* Join all tables in the database (starting with affiliations, professors, organizations, and universities) and look at the result.

```sql
-- Join all tables
SELECT *
FROM affiliations
JOIN ___
ON affiliations.professor_id = professors.___
JOIN organizations
ON affiliations.organization_id = ___.___
JOIN ___
ON professors.___ = universities.id;
```

**Instructions 2/3**

**Instructions 3/3**